.centered-welcome {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }

.centered-query-form {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
  }  

.centered-response {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 25px;
}